.span-color{
    color: #77B254;
}

/* Home Page */
.home-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.home-content{
    width: 50%;
}
.home-content-heading{
    width: 100%;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem 0rem;
}
.home-content-para{

}
.home-image-container{
    width: 40rem;
    height: 30rem;
}
.home-image{
    width: 100%;
    height: 100%;
    object-fit: inherit;
}
.home-product-container{
    
}
.home-product-heading{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.home-product-title{
    
    border-bottom: 5px solid #77B254;
    border-bottom-right-radius: 1rem;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
    padding: 2rem 0rem;
}
.card{
    border: 1px solid #77B254;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 1rem;
}
.card:hover{
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgb(173, 208, 152),rgba(76, 212, 172, 0.226));
        border-radius: 1rem;
      }
}
.card-image{
    width: 10rem;
    height: 10rem;
    border-bottom: 1px solid #77B254;
}
.card-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-value{
    margin: 0;
}
.p-margin{
    margin: 1rem 0rem 0rem 0rem;
}

/* Shop Component*/
.sho-container{
    position: relative;
}
.search-filter-container{
    display: flex;
    gap: 2rem;
    align-items: center;
   
}
.search-container{
    
}
.search-text{
    padding: 10px;
    width: 20rem;
    border-radius: 2rem;
    border: 1px solid;
    font-size: 18px;
}
.search-text:hover{
    border: 1px solid #77B254;
}
.search-button{
    position: absolute;
    background: transparent;
    margin: 10px 0px 0px -36px;
    border: none;
    cursor: pointer;
}
.select{
    width: 10rem;
    padding: 10px;
    border-radius: 1rem;
    background: #77B254;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;  
}

/* Add to cart component */
.add-to-cart-container{
}
.cart-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}
.shopping-cart-container{
    width: 70%;
    padding: 1rem;
    border: 1px solid;
    border-radius: 1rem;
}
.order-summary-container{
    padding: 1rem;
    /* background: red; */
    border: 1px solid;
    border-radius: 1rem;
    height: 21rem;
}

.my-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #AEEA94;
    gap: 6rem;
}
.mycart-image{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}
.mycart-para{
    /* width: 20rem; */
    min-width: 5rem;
    max-width: 20rem;
}
.quantity-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.quantity-button{
    background: transparent;
    border: 1px solid green;
    border-radius: 1rem;
    font-size: 20px;
}
.quantity-button:hover{
    background: #77B254;
    color: #ffffff;
}
.quantity-value{

}

.remove-button{
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 1rem;
    background: #77B254;
    color: #ffffff;
}
.remove-button:hover{
    background: transparent;
    border: 1px solid #77B254;
    color: #000000;
}
.description{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}
.quantity-price{
    width: 4rem;
}
.order-summary{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 1rem;
    
}
.order-summary-content{
    border-bottom: 1px solid #77B254;
}
.order-content{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
}
.total-summary-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20rem;
}
.total-smmary{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
}
.total-value{
    font-size: 32px !important;
}
.checkout-button{
    width: 100%;
    padding: 0.5rem;
    font-size: 22px;
    font-weight: 800;
}

/*About us page css*/
.aboutus-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5rem;
}
.aboutus-title{
    border-bottom: 4px solid #77B254;
    width: 9rem;
    border-radius: 0rem 0rem 0.5rem 0rem;
}
.aboutus-content-container{

}
.aboutus-content{

}
.aboutusdata{

}
.aboutus-para{

}
.aboutus-image-container{
    padding: 1rem;
    border: 1px solid;
    box-shadow: 0rem 0rem 0.5rem 0rem;
    background: #77B254;
}
.aboutus-image{

}

.our-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-team-card-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}
.team-card{
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
}
.team-card:hover{
    box-shadow: 0rem 0rem 0.5rem 0rem #77B254;
}
.team-card-image{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    object-fit: cover;
    border: 3px solid #77B254;
}

/*Contact us page*/
.contact-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: nowrap;
}
.contact-content{
    width: 50%;
    padding: 0rem 1rem;
}
.contact-image-container{

}
.contact-image{
    width: 40rem;
    height: 40rem;
}
.form-input{
    padding: 0.5rem;
    width: 20rem;
    margin-bottom: 1rem;
}
.contact-label{
    font-size: 18px;
    font-weight: 600;
}
.contact-select{
    width: 15rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 600;
}
.contact-textarea{
    margin-bottom: 1rem;
}
.submit-button{
    margin-bottom: 2rem;
}

.p-tag{
    margin-top: 0;
}


/*Service page container*/
.service-page-container{

}
.service-container{
    margin-top: 3rem;
}
.service-content-container{
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}
.content-list{

}
.service-image-container{
    padding: 1rem;
    border: 1px solid;
    box-shadow: 0rem 0rem 0.5rem 0rem;
    background: #77B254;
}
.service-image{
    width: 40rem;
    height: 20rem;
    object-fit: cover;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}